
  body, input:focus, a:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  
	
	
	
	
	.showSettings{
    width: 52px;
    height: 50px;
    float: right;
	}
	
	
	
	/*
	 * form elements
	 */
	
	

  /* Login and SignUp specials*/

  #nickname, #email, #password
  {
      margin-bottom: 20px;
      margin-top: 10px;   
  }

  #loginButton, #signupButton, #barcodeScanner, #loginButton, #settingsButton
  {
    height: 32px;
    background: #bade11;
    border: solid 1px #acacac;
    width: 270px;
    text-align: center;
  }
  
  /*
   * buttons on start screen (typeList)
   */


<li class="typeList buttonLarge"><a href="barcodeScanner.php"><img src="images/scanner.png" /></a></li>
 <li class="typeList buttonLarge"><a href="shoppingList.php"><img src="images/shoppinglist.png" /></a></li>
	
	#contentArea .buttonLarge{
	  width: 298px;
	  height: 71px;
	}

  /* detail for the detailsite */
  #addProduct{
    position: absolute;
    width: 20px;
    left: 73%;
    top: 120px;
  }

  .ratingContainer{
    width: 150px;
    float: left;
  }

  .ratings{
    margin-right: 0;
  }
}
