#addToCart{
	background: url('../images/csssprite.png') -230px -104px no-repeat;
	width: 61px;
	height: 40px;
	
	position: relative;
	left: 200px;
	bottom: 20px;
}

.highlight_green{
	color: #38aa34;
}

#price{
	text-align: right;
	margin: 0;
	float: right;
}

#brand{
}

.ratingContainer{
  width: 150px;
  line-height: 2;
}

.ratings{
	float: right;
}

#productDetail {
	float: left;
	width: 300px;
}

#productDetailNavigation span, #productDetailHeader span 
{
	float: left;
	margin: 0 0 -1px 0;
	background-color: #fff;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
}

#productDetailHeader {
	width: 260px;
	padding: 20px;
	background: #fff;
}

#productDetailNavigation p 
{
	width: 258px;
}

#productDetailNavigation a 
{
	float: left;
	width: 290px;
	height: 30px;
	margin-bottom: -1px;
	padding: 15px 0 0 10px;
	background-image: url(../images/productDetailNavigationBackgroundOpen.png), url(../images/productDetailNavigationBackground.png);
	background-repeat: none;
}

#productDetailNavigation a:hover 
{
	color: #000;
}

.valuationCategory, .productTitle 
{
	padding: 10px 30px 10px 10px;
	background-color: #323232;
	color: #fff;
}

.valuationDescription
{
	padding: 0 20px;
}

.valuationGreenBang, .valuationGreen, .valuationOrange, .valuationRed, .valuationRedBang, .valuationNotFound
{
	padding: 0 20px;
}  

.valuationNotFound
{
	font-style: italic;
}

.valuationGreenBang 
{
	color: #139a14;
}

.valuationGreen 
{
	color: #53d962;
}

.valuationOrange 
{
	color: #f5ac0f;
}

.valuationRed 
{
	color: #f35858;
}

.valuationRedBang 
{
	color: #af0404;
}

.toCenter
{
	padding: 20px;
}

/*
	Rating Icons
*/

.ratingIcons{
	margin-right: 15px;
}

#animal_green{
	background: url('../images/csssprite.png') -293px -106px no-repeat;
	width: 35px;
	height: 25px;
}

#animal_orange{
	background: url('../images/csssprite.png') -328px -106px no-repeat;
	width: 35px;
	height: 25px;
	
}

#animal_red{
	background: url('../images/csssprite.png') -363px -106px no-repeat;
	width: 35px;
	height: 25px;
	
}

#eco_green{
	background: url('../images/csssprite.png') -293px -131px no-repeat;
	width: 35px;
	height: 25px;
	
}

#eco_orange{
	background: url('../images/csssprite.png') -328px -131px no-repeat;
	width: 35px;
	height: 25px;
	
}

#eco_red{
	background: url('../images/csssprite.png') -363px -131px no-repeat;
	width: 35px;
	height: 25px;
	
}

#social_green{
	background: url('../images/csssprite.png') -293px -156px no-repeat;
	width: 35px;
	height: 25px;
	
}

#social_orange{
	background: url('../images/csssprite.png') -328px -156px no-repeat;
	width: 35px;
	height: 25px;
	
}

#social_red{
	background: url('../images/csssprite.png') -363px -156px no-repeat;
	width: 35px;
	height: 25px;
	
}